[user]
    name = emiliopalmerini
    email = emilio.palmerini@proton.me
[core]
    excludesfile = /Users/emiliopalmerini/.gitignore_global
    editor = nvim
[init]
    defaultBranch = main
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[alias]
    dlog = -c diff.external=difft log -p --ext-diff
    dft = difftool
    cm = commit
    co = checkout
    br = branch
    ph = push
    phf = push --force
    pl = pull
    unstage = reset HEAD --
    last = log -1 HEAD
    gh = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status
    sh = stash
[pull]
    rebase = true
[interactive]
    diffFilter = delta --color-only
[diff]
        tool = difftastic

[difftool]
        prompt = false

[difftool "difftastic"]
        cmd = difft "$LOCAL" "$REMOTE"

[pager]
        difftool = true
[rerere]
	enabled = true
[fetch]
    prune = true
