[user]
    mail = emilio.palmerini@gmail.com
    name = emiliopalmerini
    email = emilio.palmerini@gmail.com
[core]
    excludesfile = /Users/emiliopalmerini/.gitignore_global
    editor = nvim
    pager = delta
[init]
    defaultBranc = main
    defaultBranch = main
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[alias]
    co = checkout
    br = branch
    cm = commit
    ph = push
    pl = pull
    unstage = reset HEAD --
    last = log -1 HEAD
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status
[pull]
    rebase = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
